#wrap {width: 1920px; margin: 0 auto; font-family: 'Libre Baskerville', serif; color: #15279d;}
#header {width: 1280px; height: 1080px; margin: 0 auto;}
.header_title {text-align: center; margin-top: 70px; margin-bottom: 70px; font-size: 60px; font-weight: 700;}
#header_sky {text-align: center;}
#heder_text1 {margin-top: 50px; text-align: center; font-size: 17px; font-family: 'Noto Sans KR', sans-serif;}
#heder_text2 {margin-top: 20px; text-align: center; font-size: 17px; font-family: 'Noto Sans KR', sans-serif;}

#main1{width: 1920px; height: 1080px; margin: 0 auto;}
#main1_title {font-size: 30px; text-align: center;}
#main1_text1 {text-align: center; font-family: 'Noto Sans KR', sans-serif;}
#main1_text2 {text-align: center; margin-bottom: 70px; font-family: 'Noto Sans KR', sans-serif;}

#main2{width: 1280px; height: 1080px; margin: 0 auto;}
#main2_title {font-size: 30px; text-align: center; margin-top: 100px;}
#main2_text1 {text-align: center; font-family: 'Noto Sans KR', sans-serif;}
#main2_text2 {text-align: center; margin-bottom: 70px; font-family: 'Noto Sans KR', sans-serif;}
#youtube {width: 1280px; height: 700px;}

#main3{width: 1280px; height: 1080px; margin: 0 auto;}
#main3_title {font-size: 30px; text-align: center; margin-top: 200px;}
#main3_text1 {text-align: center; margin-bottom: 150px; font-family: 'Noto Sans KR', sans-serif;}

#footer{width: 1280px; height: 550px; margin: 0 auto;}
#footer_text {font-size: 150px; text-align: center; margin-top: 500px;}
#by {text-align: right; position: relative; top: 130px;}